services:
  beaver:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: beaver
    ports:
      - "2222:22"
    volumes:
      - beaver_userdata:/userdata
      - ./ssh/authorized_keys:/userdata/home/beaver/.ssh/authorized_keys:ro
    restart: unless-stopped

volumes:
  beaver_userdata:
